* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin:20px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    align-items: space-between;
}

.header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #1a2332;
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.menu {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: #ee4c5c;
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.hero {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #5b9bd5;
    color: white;
    padding: 4rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    display: grid;
    place-items: center;
    min-height: 200px;
}

.main {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width:70%;
    background-color: #2d3e50;
    color: white;
    padding: 3rem 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    display: grid;
    place-items: center;
    min-height: 250px;
}

.image {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #b8dbd9;
    color: #2d3e50;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: grid;
    place-items: center;
    align-self: start;
}

.extra {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #5fbe9d;
    color: #2d3e50;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: grid;
    place-items: center;
    align-self: end;
}

.banner {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: #f4cd6f;
    color: #2d3e50;
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    display: grid;
    place-items: center;
    min-height: 100px;
}
 